.newTask {
    display:flex;
    flex-direction: column;
    grid-area: new-task;
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #262626;
    padding: 12px;
  
    .inputContainer {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 16px;
  
      label {
        margin-bottom: 8px;
        font-size: 1rem;
      }
  
      input {
        width: 100%;
        padding: 8px 12px 4px;
        box-sizing: border-box;
        border: unset;
        border-radius: 5px;
        background-color: #262626;
        color: #828282;
        
        &::placeholder {
          color: #828282;
        }

        &[type="time"]::-webkit-calendar-picker-indicator{
          filter: invert(55%) sepia(80%) saturate(4621%) hue-rotate(227deg) brightness(98%) contrast(79%);
        }
        
      }
    }

    .inputHasChanged {
      color: #828282; 
    }
  
    @media screen and (min-width: 1280px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 1rem;
      padding: 24px;
      box-sizing: border-box;
  
      .inputContainer {
        width: calc(60% - 12px);
  
        &:last-of-type {
          width: 40%;
        }
  
        label {
          font-size: 1.4rem;
          margin-left: 5px;
          color: #BFBFBF;
          font-weight: 400;
        }
  
        input {
          font-size: 1.4rem;
          color: #828282;
          font-weight: 400;

          &::placeholder {
            font-size: 1.4rem;
            color: #828282;
            font-weight: 400;
          }

          &[type="time"]::-webkit-calendar-picker-indicator{
            filter: invert(55%) sepia(80%) saturate(4621%) hue-rotate(227deg) brightness(98%) contrast(79%);
          }

        }

      }
    }
  }